* {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 32px;
    background-color: rgb(255, 200, 150);
    color: rgb (0, 0, 0);
}

h1 {
    font-size: 56px;
}

.footnote {
    font-size: 16px;
}

a {
    font-size: inherit;
}

strong {
    font-size: inherit;
}

em {
    font-size: inherit;
}

sup {
    font-size: 0.7em;
}